<div class="login-container">
  <h2>Admin Login</h2>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div>
      <label for="username">Username*</label>
      <input type="text" id="username" [(ngModel)]="loginCredentialForm.username" name="username" emailValidator required />
    </div>
    <div>
      <label for="password">Password*</label>
      <input type="password" id="password" [(ngModel)]="loginCredentialForm.password" name="password" required />
    </div>
    <button type="submit">Login</button>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </form>
</div>
